<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密碼</title>
</head>
<body>
    <h1>修改密碼 - <span th:text="${loggedInDoctorName}"></span></h1>
    <hr>
    <div style="background-color: #ffcccc; color: red; padding: 10px; margin-bottom: 10px;" 
         th:if="${errorMessage}" th:text="${errorMessage}"></div>

    <form th:action="@{/password}" th:object="${passwordForm}" method="post">
        <div>
            <label>舊密碼：</label>
            <input type="password" th:field="*{oldPassword}">
            <span style="color:red;" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></span>
        </div>
        <br>
        <div>
            <label>新密碼：</label>
            <input type="password" th:field="*{newPassword}">
            <span style="color:red;" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span>
        </div>
        <br>
        <div>
            <label>確認新密碼：</label>
            <input type="password" th:field="*{confirmPassword}">
            <span style="color:red;" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
        </div>
        <br>
        <button type="submit">確認修改</button>
    </form>
    <br>
    <a th:href="@{/dashboard}">回 Dashboard</a>
</body>
</html>